.App {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
   "H "
   "A";
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    background-color:white;
}

.Header{
    grid-area:H;
    width: 300px;
    height: 200px;
}
.MainArea{
    grid-area:A;
    background-color:white;
}
.Gap{
    background-color:#ebebeb;
}
